* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;

	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
	overflow-x: hidden;
}

body {
	position: relative;
	height: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100vw;

	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-accent);
	// text-wrap: balance;
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}