@font-face {
  font-family: "Impact";
  font-display: swap;
  src: url("../fonts/Impact-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neue";
  font-display: swap;
  src: url("../fonts/Neue-Haas.woff2") format("woff2"), url("../fonts/Neue-Haas.woff") format("woff"), url("../fonts/Neue-Haas.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SimpleTags";
  font-display: swap;
  src: url("../fonts/SimpleTags.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

