.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.flex-center {
	justify-content: center;
}

.desktopOnly {
	display: block;

	@include mobile {
		display: none;
	}
}

.mobileOnly {
	display: none;

	@include mobile {
		display: block;
	}
}

.highlight {
	color: var(--accent-light);

	&.second {
		color: #E87595;
	}

	&.third {
		color: #0DC1C2;
	}
}