:root {
	--container-width: 1600px;
	--container-padding: 100px;

	--font-main: sans-serif;
	--font-accent: "Inter", sans-serif;
	--font-second: "Neue", sans-serif;
	--font-third: "SimpleTags", sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #FFF;
	--text-color: #fff;
	--text-color-dark: #121212;
	--accent: #F9902F;
	--accent-dark: #F97700;
	--accent-light: #0F6DA7;
	--link-color: #7C0000;


	--laptop-size: 1600px;
	--tablet-size: 768px;
	--mobile-size: 468px;
}

// .dark {
// 	--page-bg: #252526;
// 	--text-color: #fff;
// }