.contact {
	color: var(--text-color-dark);
	background-color: var(--accent-dark);
	position: relative;


	.cards {
		display: flex;
		flex-direction: column;
		width: 50%;

		@include mobile {
			width: 100%;
		}

		&__container {
			display: flex;
			justify-content: space-between;
			gap: 20px;
			border-top: 1px solid rgba(42, 42, 42, 0.3);
			border-bottom: 1px solid rgba(42, 42, 42, 0.3);
			padding: 25px 0;

			@include mobile {
				flex-direction: column-reverse;
				border-top: none;
				padding-top: 0;
			}
		}

		&__img {
			max-width: 50%;
			max-height: 268px;

			@include mobile {
				max-width: 100%;
				max-height: 100%;
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.card {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		padding: 25px 0;
		border-bottom: 1px solid rgba(42, 42, 42, 0.3);

		@include mobile {
			padding: 15px 0;
		}

		&:first-child {
			padding-top: 0;

			@include mobile {
				border-top: 1px solid rgba(42, 42, 42, 0.3);
				padding-top: 15px;
			}
		}

		&:last-child {
			border: none;
			padding-bottom: 0;
		}

		&__title {
			font-weight: 400;
			font-size: 16px;
			line-height: 120%;
			letter-spacing: -0.04em;
			color: rgba(42, 42, 42, 0.3);

			@include mobile {
				font-size: 14px;
			}

			&__wrapper {
				display: flex;
				flex-direction: column;
				gap: 15px;
			}
		}

		&__text {
			font-weight: 500;
			font-size: 18px;
			line-height: 120%;
			letter-spacing: -0.04em;
			text-transform: uppercase;
			color: #2a2a2a;

			& a {
				color: #2a2a2a;
			}

			@include mobile {
				font-size: 16px;
			}
		}

		.index {
			font-weight: 400;
			font-size: 16px;
			line-height: 120%;
			letter-spacing: -0.04em;
			color: rgba(42, 42, 42, 0.3);

			@include mobile {
				font-size: 14px;
			}
		}
	}
}