.cta {
	font-family: var(--font-accent);
	position: relative;
	width: 100vw;
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	.container {
		padding: 0px 100px;
		background-color: var(--accent);
		background-color: #999;
		background-image: url('../../img/cta/cta_1.jpg');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		@include mediaBg() {
			background-image: url('../../img/cta/cta_1@2x.jpg');
		}

		@include mobile {
			padding: 0px 10px;
			padding-top: 30px;
		}
	}

	&__lines {
		position: absolute;
		top: 40px;
		left: 0;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 0px 100px;

		@include mobile {
			padding: 0px 10px;
			position: relative;
			top: 0;
		}

		&-subtitle {
			grid-column: 2 / 4;
			grid-row: 1;
			font-weight: 400;
			font-size: 16px;
			line-height: 120%;
			letter-spacing: -0.04em;
			text-align: center;

			@include mobile {
				grid-column: 1/ -1;
				grid-row: 1;
				margin-bottom: 20px;
			}
		}

		&-img {
			grid-column: 4;
			grid-row: 1;
			justify-self: end;
			margin-bottom: 10px;
			width: 100%;

			@include mobile {
				grid-column: 1/ -1;
				grid-row: 3;
				max-width: 194px;
				justify-self: center;
				margin-top: 10px;
			}

			& img {
				width: 100%;
			}
		}

		&-text {
			font-weight: 500;
			font-size: 18px;
			line-height: 110%;
			letter-spacing: -0.04em;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.7);

			@include mobile {
				font-size: 12px;
			}
		}

		&-left {
			display: flex;
			flex-direction: column;
			grid-column: 1;
			grid-row: 1;

			@include mobile {
				grid-row: 2;
			}

			& div:nth-child(1) {
				text-align: left;
			}

			& div:nth-child(2) {
				text-align: left;
				margin-left: 20px;

				@include mobile {
					margin-left: 10px;
				}
			}

			& div:nth-child(3) {
				text-align: left;
				margin-left: 40px;

				@include mobile {
					margin-left: 20px;
				}
			}
		}

		&-right {
			display: flex;
			flex-direction: column;
			grid-column: 4;
			grid-row: 2;

			@include mobile {
				grid-row: 4;
			}

			& div:nth-child(1) {
				text-align: right;
			}

			& div:nth-child(2) {
				text-align: right;
				margin-right: 20px;

				@include mobile {
					margin-right: 10px;
				}
			}

			& div:nth-child(3) {
				text-align: right;
				margin-right: 40px;

				@include mobile {
					margin-right: 20px;
				}
			}
		}

		&-left,
		&-right {
			@include mobile {
				gap: 0;
			}
		}
	}

	&__title {
		font-weight: 600;
		font-size: 50px;
		line-height: 110%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		text-align: center;
		color: var(--text-color);
		margin-bottom: 80px;
		max-width: 780px;
		margin: 0 auto;
		position: relative;
		z-index: 9;

		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 30px;
			padding: 280px 0;

			@include mobile {
				padding-top: 20px;
				padding-bottom: 45px;
				gap: 15px;
			}
		}

		@include tablet {
			font-size: 60px;
		}

		@include mobile {
			font-size: 20px;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		letter-spacing: -0.04em;
		text-align: center;
		max-width: 300px;
		margin: 0 auto;
		text-align: center;
		color: var(--text-color);

		@include mobile {
			font-size: 14px;
		}
	}
}