.how {
	font-family: var(--font-accent);
	background-color: var(--accent);
	position: relative;
	width: 100%;
	max-width: 1600px;
	padding: 0 100px;
	padding-right: 0;
	padding-bottom: 100px;
	margin: 0 auto;

	&__road {
		margin-left: auto;
	}
}