.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}

.icon--plus {
	fill: var(--text-color-dark);
	width: 16px;
	height: 26px;

	@include mobile {
		width: 40px;
		height: 40px;
	}
}

.icon--cross {
	fill: var(--text-color);
	width: 16px;
	height: 26px;

	@include mobile {
		width: 40px;
		height: 40px;
	}
}

.icon--arrow {
	fill: var(--text-color);
	width: 20px;
	transition: all 0.3s ease-in-out;
	pointer-events: none;

	@include mobile {
		width: 20px;
	}
}