main {
	display: flex;
	flex-direction: column;
	gap: 150px;

	@include mobile {
		gap: 60px;
	}
}

.section__title {
	font-family: var(--font-second);
	font-weight: 500;
	font-size: 30px;
	line-height: 110%;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 40px;

	@include mobile {
		font-size: 20px;
		margin-bottom: 20px;
	}
}