.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-right {
		justify-content: flex-end;
	}
}

.nav {
	position: relative;
	z-index: 3;
	width: 100%;
	display: flex;
	font-size: 18px;
	height: 65px;

	@include tablet {
		display: none;
	}
}

.nav__list {
	display: flex;
	align-items: center;
	// column-gap: 20px;
}

.nav__link {
	transition: all 0.2s ease-in;
	position: relative;

	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: var(--text-color);

	padding: 24px 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);

	&:hover {
		background-color: var(--page-bg);
		color: var(--text-color-dark);
	}
}

.nav__btn {
	position: relative;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	text-transform: uppercase;
	height: 40px;
	color: var(--text-color);
	padding: 5px 10px;
	width: 100%;
	width: 250px;
	border: 1px solid var(--text-color);

	&-text {
		line-height: normal;
	}

	&:hover {
		background-color: var(--page-bg);
		color: var(--text-color-dark);
	}

	@include tablet {
		display: none;
	}
}

.no-scroll .nav__link {
	transition: all 0.2s ease-in;
	position: relative;
	padding: 15px;

	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -0.04em;
	color: var(--text-color);
	border: none;

	&:hover {
		color: var(--text-color-dark);
		background-color: var(--page-bg);
	}
}