.team {
	font-family: var(--font-accent);
	background-color: var(--accent-dark);
	color: var(--text-color);

	.accordeon {
		background-color: var(--accent);
		padding: 20px;
		padding-bottom: 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		&__item {
			grid-column: 1 / -1;
			display: flex;
			flex-direction: column;
			font-weight: 400;
			font-size: 16px;
			line-height: 120%;
			letter-spacing: -0.04em;

			&__header {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				justify-content: space-between;
				align-items: flex-start;
				cursor: pointer;
				margin-bottom: 60px;

				&__nick {
					grid-column: 1;
					white-space: nowrap;
				}

				&__old {
					grid-column: 2;
					grid-row: 1;
					justify-self: start;
					margin-left: -10px;
				}

				&__img {
					grid-column: 2;
					grid-row: 1;
					justify-self: end;
					width: 180px;
					padding-right: 20px;
				}

				&__text {
					grid-column: 3;
					max-width: 300px;
				}

				&__cross {
					grid-column: 4;
					justify-self: end;
					width: 23px;
					height: 23px;
				}
			}

			&__content {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto;
				font-weight: 400;
				font-size: 200px;
				line-height: 120%;

				&__name {
					font-family: var(--font-third);
				}
			}
		}
	}
}