.title__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include mobile {
		align-items: flex-start;
	}
}

.title {
	max-width: 1110px;
	position: relative;
	font-weight: 600;
	font-size: 50px;
	line-height: 110%;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	text-align: center;
	color: #2a2a2a;
	color: var(--text-color-dark);
	width: fit-content;
	// white-space: nowrap;
	margin-bottom: 30px;

	@include mobile {
		text-align: left;
		font-size: 20px;
		margin-bottom: 20px;
	}
}

.subtitle {
	grid-column: 1 / 2;
	white-space: nowrap;

	& span {
		padding: 12px 30px;
		display: inline-block;
		border-radius: 100px;
		font-weight: 600;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: lowercase;
		text-align: center;
		color: #2a2a2a;
		border-radius: 100%;
		background: rgba(255, 255, 255, 0.3);
		margin-bottom: 20px;

		@include mobile {
			font-size: 14px;
			padding: 5px 15px;
			margin-bottom: 10px;
		}
	}
}